<div class="favorite_rapper">
  <h1>あなたのお気に入り一覧</h1>
  <% @favorite_recipes.each do |recipe| %>
    <div class="recipe">
      <div class="photo_box">
        <% if recipe.photo_url.present? %>
          <%= image_tag recipe.photo_url, alt: recipe.title, class: "photo"  %>
        <% end %>
      </div>
      <div class="list_box">
        <ul>
          <li><h2><%= link_to recipe.title, recipe_path(recipe), class: "recipe_link"%></h2></li>
          <li><h3>作成者: <%= recipe.user.name %></h3></li>
          <li><h3>投稿日: <%= recipe.created_at.strftime("%Y年 %m月 %d日") %></h3></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
