/* ページタイトル */
.page_title {
  margin-left: 147px;
}

/* main_wrapperでメインの領域極め */
.recipe_wrapper {
  font-weight:bold;
  margin: 0 auto;
/* 背景色の幅 */
  width: 1200px;
  background-color: #FFFBF1;
  padding: 156px 102px;
/* 中央揃え */
  display: flex;
  flex-flow: column;
  justify-content: center;
}

/* 投稿エリア */
.recipe_item {
  display: flex;
  flex-flow: column;
}

/* 各入力要素 */
/* 画像登録ボタン */
/* recipe_itemクラスの中のphotoクラス */
.recipe_item .photo {
  margin-bottom: 24px;
}

/* 料理名 */
.title_box {
  margin-bottom: 57px;
}

/* 具材 */
.material_box {
  margin-bottom: 15px ;
}

/* 料理手順 */


/* 調理時間のテキストボックスの幅 */
.time_label {
  margin-top: 57px;
  display: flex;
  flex-flow: column;
}

/* 登録ボタンはユーザーのnewページの「登録する」を流用 */

.recipe_submit {
  width: 435px;
  height: 77px;
  text-align: center;
/* 下記を有効化すると余白ができる */
  margin-top: 64px;
  margin-left: 302px;
  border-radius: 6px;
  font-weight: bold;
  background-color: #FFFFFF;
}
