/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Header styling */

/* すべてのページに適応される設定 */
html {
  font-family: sans-serif;
  font-size: 14px;
}


/* すべてのページに適応 ヘッダー */

header {
  background-color: #EBEBEB;
  color: #000000;
  font-weight: bold;
  height: 76px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.top {
  font-size: 36px;
  /* トップの下線を削除 */
  text-decoration: none;
  width: 36px;
}

/* リンクのリスト部分 */
.nav ul {
  list-style: none;
  gap: 50px 50px;
  /* ログイン、登録を横並び */
  display: flex;
/* ログイン系統を右端、上端から少し空白 */
  margin-right: 2rem;
  margin-top: 2rem;
}

/* リンクそのもの */
.navlink {
  /* トップの下線を削除 */
  text-decoration: none;
  padding: 18px 66.3px;
  background-color: #D9D9D9;
}


/* すべてのページに適応 メイン */

/* main { */
/* ページ全体を横書きで中央に */
/* display:flexはかけない */
/* } */


/* すべてのページに適応 フッター */



/* Body styling */
container {
  /* Your container styles here */
}

/* Additional styling for other elements as needed */
