
.main_wrapper{
  margin: auto;
  padding: 30px 160px;

}

/* 検索欄 */
search {
  display: flex;
  padding: 47px 159px;
}


/* 投稿した料理 */
.recipe {
/* 横並び */
  display: flex;
/* 料理の項目の背景色 */
  background-color: #FFFBF1;
  margin-bottom: 64px;
/* paddingだと項目同士が繋がる */
  width: 902px;
}

/* 投稿の項目 */

.list ul{
  /* リストの点を削除 */
  list-style: none;
  /* background-color: #FFFBF1; */
/* すでに縦になってるからflexは不要 */
  padding-left:  58px;
}

/* 料理の詳細リンク */
.recipe_link{
/* リンクの下線を削除 */
  text-decoration: none;
  background-color: #FFFBF1;
  padding-left: 58px;
}

/* 編集へのリンク */
.edit {
  text-decoration: none;
  margin-left: 200px;
  margin-top: 150px;
}
