/* ページ全体のメインの位置決め */
.main_wrapper{
  margin: auto;
  padding: 30px 160px;
}

/* 検索結果 */
.search_result_text {
  font-size: 24px;
  color: #000000;
  margin-bottom: 89px;
}

/* 投稿した料理 */
.recipe {
/* 横並び */
  display: flex;
  /* 写真とそれ以外を左端a,右端bという区別に */
  justify-content: space-between;
/* 料理の項目の背景色 */
  background-color: #FFFBF1;
/* paddingだと項目同士が繋がるからmarginで投稿同士に余白 */
  margin-bottom: 64px;
/* 投稿の幅と高さ */
  width: 922px;
  height: 206px;
}

.photo_box {
/* 写真の有無問わずrecipeの30%を写真の領域に */
  width: 30%;
}

.photo {
  width: 238px;
  height: 206px;
  margin-left: 21px;
}

/* 投稿の項目 */

.list_box {
  display: flex;
/* 詳細リンクと編集をa,bという区別に */
  justify-content: space-between;
  /* 親要素のrecipeの70%幅を占める */
  width: 70%;
}

/* 料理の詳細リンク */
.recipe_link {
  /* リンクの下線を削除 */
  text-decoration: none;
  color: #000000;
  background-color: #FFFBF1;
}

.list ul{
  /* リストの点を削除 */
  list-style: none;
  margin-top: 75px;
}

.list li{
/* 投稿日時と作成者に余白 */
  margin-top: 10%;
}

/* 編集へのリンク */
.edit {
  text-decoration: none;
  font-size: 12px;
  color: #586EAA;
  padding-top: 169px;
  padding-right: 21px;
}
