/* 登録フォーム全体 */
.new_wrapper {
  width: 1034px;
  background-color: #EBEBEB;
  text-align: center;
  margin: 0 auto;
}


/* メールとパスワードはログイン画面を流用 */

/* input[type="text"]属性のtextのにcss付与 */
/* これがユーザー名になる(検証ツールに表示) */
input[type="text"] {
  width: 836px;
  height: 77px;
  border-radius: 6px;
  margin-top: 11px;
}



/* 新規登録ボタン */
/* レシピの登録、編集にも適応 */
.submit {
  height: 77px;
  width: 100%;
  border-radius: 6px;
  /* テキスト中央 */
  text-align: center;
  /* ボタンそのものを中央 */
  margin: 100px auto;
  /* パスワードとの距離 */
  font-size: 16px;
  background-color: #FFFFFF;
}
