/* base_wrapper */

/* 新規登録全体 */
.new_wrapper {
  background-color: #EBEBEB;
  margin: 0 auto;
  padding: 100px;
}

/* 新規登録の文字の大きさ */
.devise_title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 75px;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* text_form{ */
/* ログインフォーム代用 */
/* } */

/* 新規登録 */
/* sign_on で代用*/


.actions {
  display: flex;
  justify-content: center;
}
