/* 新規登録 */
h1 {
  margin: 50px 123px;
}

/* 登録フォーム全体 */
.new_wrapper {
  width: 1034px;
  height: 649px;
  background-color: #EBEBEB;
  margin: 0 auto;
}




/* 新規登録ボタン */
/* レシピの登録、編集にも適応 */
.submit {
  height: 77px;
  width: 100%;
  border-radius: 6px;
  /* テキスト中央 */
  text-align: center;
  /* ボタンそのものを中央 */
  margin: 100px auto;
  /* パスワードとの距離 */
  font-size: 16px;
  background-color: #FFFFFF;
}
